body {
    font-family: sans-serif;
}
#dirs, #playlist_wrapper, #audio audio, #name{ 
    background:#666;
    width:400px;
    padding:20px;
}
#shuffle { 
    margin-bottom: 5px;
}
#audio #name {
    padding-bottom: 0px;
    color: white;
    font-weight: bold;
}
.active a{
    color:#5DB0E6;
    text-decoration:none;
}
li {
    list-style: none;
}
li a {
    color:#eeeedd;
    background:#333;
    padding:5px;
    display:block;
}
li a:hover {
    text-decoration:none;
}
#playlist {
    padding: 0px;
}
#audio {
    margin-bottom: 16px;
}

